header.header
        nav.header-menu
            ul.header-menu__list
                li.header-menu__item
                    .header-menu__item--left
                        <a href='##'>Капкейки</a>
                        <a href='##'>Стаканчики</a>
                        <a href='##'>Зефир</a>
                li.header-menu__item
                    a.logo(href="#")
                        h1 katya<br> sugar<br> sugar
                li.header-menu__item 
                    .header-menu__item--right
                        <a href='##'>Whatsapp</a>
                        <a href='##'>Корпоративным клиентам</a>
        include ../../components/burger/burger