section.intro
   p Я делаю <span><img src="../img/cupcake.png"></span>, но это - лишь начало. Капкейки с <span><img src="../img/bottle-cognac.png"></span>, Капкейки в вафельных стаканчиках <span><img src="../img/cupcake-waffle-cup.png"></span>, <br>зефир в коробочках