.intro {
	font-family: 'Prata', serif;
	font-size: 42px;
	text-align: center;
	max-width: 600px;
	margin: 0 auto;
	line-height: 80px;

	p {
		margin-block-start: 100px;
	}

	span {
		position: relative;
		width: 80px;
	}

	img {
		position: absolute;
		top: -10px;
		display: inline-block;
		width: 80px;
		height: 80px;
		border-radius: 15px;
		margin-block: 0;
	}
}
